# DEPI Graduation Project

### Graduation Project metadata
- link: https://docs.google.com/document/d/1yXyUT78vFCtzXKYUxHzgyga47drs0MhEOK5nA3V_3aM/edit?usp=sharing

<div class="alert alert-block alert-info">
<b>Data Collecting & Exploration</b> Getting the data from *KAGGLE*.
</div>

### Importing needed libraries

In [2]:
import pandas as pd
import numpy as np
import datetime
import csv
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

***

 <span style='font-family:sans-serif'>
- <font color='violet'>Creating Frames </font>

In [3]:
dfaccident = pd.read_csv("Accidents0514.csv")

C:\Users\ahmed\AppData\Local\Temp\ipykernel_20792\1110507034.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  dfaccident = pd.read_csv("Accidents0514.csv")

In [4]:
dfcas = pd.read_csv("Casualties0514.csv")

In [5]:
dfvehicles = pd.read_csv("Vehicles0514.csv")

### 1 - Accidents Exploration

In [6]:
dfaccident.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,3,17:42,12,E09000020,3,3218,6,30,0,-1,-1,0,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,4,17:36,12,E09000020,4,450,3,30,6,2,5,0,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,5,00:15,12,E09000020,5,0,6,30,0,-1,-1,0,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,6,10:35,12,E09000020,3,3220,6,30,0,-1,-1,0,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,2,21:13,12,E09000020,6,0,6,30,0,-1,-1,0,0,0,7,1,2,0,0,1,1,E01002863

In [7]:
dfaccident['Date']= pd.to_datetime(dfaccident['Date'], format="%d/%m/%Y")

In [8]:
dfaccident = dfaccident[(dfaccident['Date'] >= '2009-01-01') & (dfaccident['Date'] <= '2014-12-31')]

In [9]:
dfaccident['Time'] = pd.to_datetime(dfaccident['Time'], format='%H:%M').dt.time

In [10]:
dfaccident.shape

(899995, 32)

In [11]:
dfaccident.isnull().sum()

Accident_Index                                     0
Location_Easting_OSGR                              0
Location_Northing_OSGR                             0
Longitude                                          0
Latitude                                           0
Police_Force                                       0
Accident_Severity                                  0
Number_of_Vehicles                                 0
Number_of_Casualties                               0
Date                                               0
Day_of_Week                                        0
Time                                              50
Local_Authority_(District)                         0
Local_Authority_(Highway)                          0
1st_Road_Class                                     0
1st_Road_Number                                    0
Road_Type                                          0
Speed_limit                                        0
Junction_Detail                                    0
Junction_Control                                   0
2nd_Road_Class                                     0
2nd_Road_Number                                    0
Pedestrian_Crossing-Human_Control                  0
Pedestrian_Crossing-Physical_Facilities            0
Light_Conditions                                   0
Weather_Conditions                                 0
Road_Surface_Conditions                            0
Special_Conditions_at_Site                         0
Carriageway_Hazards                                0
Urban_or_Rural_Area                                0
Did_Police_Officer_Attend_Scene_of_Accident        0
LSOA_of_Accident_Location                      60727
dtype: int64

**As we will not select LSOA so we only drop time Nulls**

In [12]:
dfaccident=dfaccident[['Accident_Index','Longitude','Latitude','Accident_Severity','Number_of_Vehicles','Number_of_Casualties','Date','Day_of_Week','Time'
                       ,'Local_Authority_(District)','Local_Authority_(Highway)','Speed_limit','Light_Conditions','Weather_Conditions',
                       'Road_Surface_Conditions','Special_Conditions_at_Site','Urban_or_Rural_Area']]

In [13]:
dfaccident=dfaccident.dropna()

dfaccident.isnull().sum()

Accident_Index                0
Longitude                     0
Latitude                      0
Accident_Severity             0
Number_of_Vehicles            0
Number_of_Casualties          0
Date                          0
Day_of_Week                   0
Time                          0
Local_Authority_(District)    0
Local_Authority_(Highway)     0
Speed_limit                   0
Light_Conditions              0
Weather_Conditions            0
Road_Surface_Conditions       0
Special_Conditions_at_Site    0
Urban_or_Rural_Area           0
dtype: int64

In [14]:
value_counts = dfaccident['Accident_Index'].value_counts()
count_minus_one = value_counts.get('-1', 0)  
total_count = dfaccident['Accident_Index'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [15]:
dfaccident = dfaccident.drop(dfaccident[dfaccident['Accident_Index'] == '-1'].index)

In [16]:
value_counts = dfaccident['Speed_limit'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfaccident['Speed_limit'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [17]:
value_counts = dfaccident['Light_Conditions'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfaccident['Light_Conditions'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [18]:
value_counts = dfaccident['Weather_Conditions'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfaccident['Weather_Conditions'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

106
0.011778497574851797

In [19]:
dfaccident = dfaccident.drop(dfaccident[dfaccident['Weather_Conditions'] == -1].index)

In [20]:
value_counts = dfaccident['Road_Surface_Conditions'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfaccident['Road_Surface_Conditions'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

1281
0.1423587997408425

In [21]:
dfaccident = dfaccident.drop(dfaccident[dfaccident['Road_Surface_Conditions'] == -1].index)

In [22]:
value_counts = dfaccident['Special_Conditions_at_Site'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfaccident['Special_Conditions_at_Site'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

3
0.00033386826448598755

In [23]:
dfaccident = dfaccident.drop(dfaccident[dfaccident['Special_Conditions_at_Site'] == -1].index)

In [24]:
value_counts = dfaccident['Urban_or_Rural_Area'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfaccident['Urban_or_Rural_Area'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [25]:
value_counts = dfaccident['Number_of_Casualties'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfaccident['Number_of_Casualties'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [26]:
value_counts = dfaccident['Number_of_Vehicles'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfaccident['Number_of_Vehicles'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [27]:
value_counts = dfaccident['Accident_Severity'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfaccident['Accident_Severity'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [28]:
dfaccident.shape

(898555, 17)

In [29]:
dfcas = dfcas[dfcas['Accident_Index'].isin(dfaccident['Accident_Index'])]
dfcas['Accident_Index'].unique().shape

(898555,)

In [30]:
dfvehicles = dfvehicles[dfvehicles['Accident_Index'].isin(dfaccident['Accident_Index'])]
dfvehicles['Accident_Index'].unique().shape

(898555,)

**That means we did it in a correct way**

In [31]:
dfaccident.to_csv('accident_cleaned_data.csv', index=False)

### 2 - Casualties Exploration

In [32]:
dfcas

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
1008106,200901BS70001,1,1,1,1,77,11,2,0,0,0,0,-1,2,1
1008107,200901BS70002,1,1,1,1,40,7,3,0,0,0,0,-1,19,1
1008108,200901BS70002,2,2,1,1,38,7,3,0,0,0,0,-1,11,1
1008109,200901BS70002,2,3,2,2,76,11,2,0,0,0,4,-1,11,1
1008110,200901BS70002,2,4,2,1,42,7,2,0,0,0,4,-1,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216715,2014984137714,1,1,2,2,16,4,3,0,0,2,0,0,9,1
2216716,2014984138414,1,1,1,1,27,6,3,0,0,0,0,0,9,1
2216717,2014984138414,2,2,1,1,44,7,2,0,0,0,0,0,19,1
2216718,2014984139614,1,2,2,1,61,9,3,0,0,0,4,0,11,2
2216719,2014984139614,2,1,1,1,79,11,3,0,0,0,0,0,9,3

In [33]:
dfcas.isnull().sum()

Accident_Index                        0
Vehicle_Reference                     0
Casualty_Reference                    0
Casualty_Class                        0
Sex_of_Casualty                       0
Age_of_Casualty                       0
Age_Band_of_Casualty                  0
Casualty_Severity                     0
Pedestrian_Location                   0
Pedestrian_Movement                   0
Car_Passenger                         0
Bus_or_Coach_Passenger                0
Pedestrian_Road_Maintenance_Worker    0
Casualty_Type                         0
Casualty_Home_Area_Type               0
dtype: int64

In [34]:
dfcas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1206843 entries, 1008106 to 2216719
Data columns (total 15 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   Accident_Index                      1206843 non-null  object
 1   Vehicle_Reference                   1206843 non-null  int64
 2   Casualty_Reference                  1206843 non-null  int64
 3   Casualty_Class                      1206843 non-null  int64
 4   Sex_of_Casualty                     1206843 non-null  int64
 5   Age_of_Casualty                     1206843 non-null  int64
 6   Age_Band_of_Casualty                1206843 non-null  int64
 7   Casualty_Severity                   1206843 non-null  int64
 8   Pedestrian_Location                 1206843 non-null  int64
 9   Pedestrian_Movement                 1206843 non-null  int64
 10  Car_Passenger                       1206843 non-null  int64
 11  Bus_or_Coach_Passenger              1206843 non-null  int64
 12  Pedestrian_Road_Maintenance_Worker  1206843 non-null  int64
 13  Casualty_Type                       1206843 non-null  int64
 14  Casualty_Home_Area_Type             1206843 non-null  int64
dtypes: int64(14), object(1)
memory usage: 147.3+ MB

In [35]:
dfcas.shape

(1206843, 15)

In [36]:
dfvehicles.isnull().sum()

Accident_Index                      0
Vehicle_Reference                   0
Vehicle_Type                        0
Towing_and_Articulation             0
Vehicle_Manoeuvre                   0
Vehicle_Location-Restricted_Lane    0
Junction_Location                   0
Skidding_and_Overturning            0
Hit_Object_in_Carriageway           0
Vehicle_Leaving_Carriageway         0
Hit_Object_off_Carriageway          0
1st_Point_of_Impact                 0
Was_Vehicle_Left_Hand_Drive?        0
Journey_Purpose_of_Driver           0
Sex_of_Driver                       0
Age_of_Driver                       0
Age_Band_of_Driver                  0
Engine_Capacity_(CC)                0
Propulsion_Code                     0
Age_of_Vehicle                      0
Driver_IMD_Decile                   0
Driver_Home_Area_Type               0
dtype: int64

In [37]:
dfvehicles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1641028 entries, 1360865 to 3004424
Data columns (total 22 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   Accident_Index                    1641028 non-null  object
 1   Vehicle_Reference                 1641028 non-null  int64
 2   Vehicle_Type                      1641028 non-null  int64
 3   Towing_and_Articulation           1641028 non-null  int64
 4   Vehicle_Manoeuvre                 1641028 non-null  int64
 5   Vehicle_Location-Restricted_Lane  1641028 non-null  int64
 6   Junction_Location                 1641028 non-null  int64
 7   Skidding_and_Overturning          1641028 non-null  int64
 8   Hit_Object_in_Carriageway         1641028 non-null  int64
 9   Vehicle_Leaving_Carriageway       1641028 non-null  int64
 10  Hit_Object_off_Carriageway        1641028 non-null  int64
 11  1st_Point_of_Impact               1641028 non-null  int64
 12  Was_Vehicle_Left_Hand_Drive?      1641028 non-null  int64
 13  Journey_Purpose_of_Driver         1641028 non-null  int64
 14  Sex_of_Driver                     1641028 non-null  int64
 15  Age_of_Driver                     1641028 non-null  int64
 16  Age_Band_of_Driver                1641028 non-null  int64
 17  Engine_Capacity_(CC)              1641028 non-null  int64
 18  Propulsion_Code                   1641028 non-null  int64
 19  Age_of_Vehicle                    1641028 non-null  int64
 20  Driver_IMD_Decile                 1641028 non-null  int64
 21  Driver_Home_Area_Type             1641028 non-null  int64
dtypes: int64(21), object(1)
memory usage: 288.0+ MB

In [38]:
dfvehicles.shape

(1641028, 22)

In [39]:
dfcas=dfcas[['Accident_Index','Casualty_Reference','Sex_of_Casualty','Age_of_Casualty','Casualty_Severity',
             'Car_Passenger','Bus_or_Coach_Passenger','Casualty_Type',]]

In [40]:
value_counts = dfcas['Casualty_Reference'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfcas['Casualty_Reference'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [41]:
value_counts = dfcas['Sex_of_Casualty'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfcas['Sex_of_Casualty'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

111
0.009197550965618561

In [42]:
dfcas = dfcas.drop(dfcas[dfcas['Sex_of_Casualty'] == -1].index)

In [43]:
value_counts = dfcas['Age_of_Casualty'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfcas['Age_of_Casualty'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

20464
1.695819784343168

In [44]:
dfcas = dfcas.drop(dfcas[dfcas['Age_of_Casualty'] == -1].index)

In [45]:
value_counts = dfcas['Casualty_Severity'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfcas['Casualty_Severity'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [46]:
value_counts = dfcas['Car_Passenger'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfcas['Car_Passenger'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

260
0.021917475646312638

In [47]:
dfcas = dfcas.drop(dfcas[dfcas['Car_Passenger'] == -1].index)

In [48]:
value_counts = dfcas['Bus_or_Coach_Passenger'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfcas['Bus_or_Coach_Passenger'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

25
0.0021079115823839298

In [49]:
dfcas = dfcas.drop(dfcas[dfcas['Bus_or_Coach_Passenger'] == -1].index)

In [50]:
value_counts = dfcas['Casualty_Type'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfcas['Casualty_Type'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [51]:
dfcas = dfcas.drop(dfcas[dfcas['Casualty_Type'] == -1].index)

In [52]:
dfcas

,Accident_Index,Casualty_Reference,Sex_of_Casualty,Age_of_Casualty,Casualty_Severity,Car_Passenger,Bus_or_Coach_Passenger,Casualty_Type
1008106,200901BS70001,1,1,77,2,0,0,2
1008107,200901BS70002,1,1,40,3,0,0,19
1008108,200901BS70002,2,1,38,3,0,0,11
1008109,200901BS70002,3,2,76,2,0,4,11
1008110,200901BS70002,4,1,42,2,0,4,11
...,...,...,...,...,...,...,...,...
2216715,2014984137714,1,2,16,3,2,0,9
2216716,2014984138414,1,1,27,3,0,0,9
2216717,2014984138414,2,1,44,2,0,0,19
2216718,2014984139614,2,1,61,3,0,4,11
2216719,2014984139614,1,1,79,3,0,0,9

In [53]:
dfcas['Accident_Index'].unique().shape

(885429,)

In [55]:
dfcas.to_csv('casualties_cleaned_data.csv',index=False)

### 3 - Vehicles Exploration

In [56]:
dfvehicles

,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,Hit_Object_off_Carriageway,1st_Point_of_Impact,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
1360865,200901BS70001,1,2,0,18,0,8,0,0,0,0,1,1,15,1,77,11,49,1,26,4,1
1360866,200901BS70001,2,9,0,18,0,8,0,0,0,0,1,1,15,1,31,6,3824,1,2,2,1
1360867,200901BS70002,1,19,0,18,3,8,0,0,0,0,1,1,1,1,40,7,1753,2,3,3,1
1360868,200901BS70002,2,11,0,18,0,8,0,10,7,10,4,1,1,1,38,7,6700,2,1,2,1
1360869,200901BS70003,1,3,0,18,0,8,0,0,0,0,0,1,15,1,40,7,124,1,2,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004420,2014984138414,1,9,0,5,0,6,0,0,0,0,3,1,2,1,27,6,1781,1,12,6,1
3004421,2014984138414,2,19,0,18,0,1,1,4,7,11,1,1,2,1,44,7,1686,2,4,1,1
3004422,2014984138414,3,9,0,18,0,2,1,4,1,0,3,1,6,1,73,10,2143,2,-1,8,3
3004423,2014984139614,1,11,0,9,0,8,0,0,0,0,3,1,1,1,40,7,4500,2,4,-1,3
3004424,2014984139614,2,9,0,18,0,1,0,0,0,0,1,1,6,1,79,11,1398,2,11,-1,3

In [57]:
dfvehicles=dfvehicles[['Accident_Index','Vehicle_Type','Was_Vehicle_Left_Hand_Drive?','Journey_Purpose_of_Driver','Sex_of_Driver','Age_of_Driver','Age_of_Vehicle']]

In [58]:
value_counts = dfvehicles['Vehicle_Type'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfvehicles['Vehicle_Type'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

197
0.012004670243286525

In [59]:
dfvehicles = dfvehicles.drop(dfvehicles[dfvehicles['Vehicle_Type'] == -1].index)

In [60]:
value_counts = dfvehicles['Was_Vehicle_Left_Hand_Drive?'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfvehicles['Was_Vehicle_Left_Hand_Drive?'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

94
0.005728804489920046

In [61]:
dfvehicles = dfvehicles.drop(dfvehicles[dfvehicles['Was_Vehicle_Left_Hand_Drive?'] == -1].index)

In [62]:
value_counts = dfvehicles['Journey_Purpose_of_Driver'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfvehicles['Journey_Purpose_of_Driver'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

33
0.0020112912672780583

In [63]:
dfvehicles = dfvehicles.drop(dfvehicles[dfvehicles['Journey_Purpose_of_Driver'] == -1].index)

In [64]:
value_counts = dfvehicles['Sex_of_Driver'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfvehicles['Sex_of_Driver'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

0
0.0

In [65]:
value_counts = dfvehicles['Age_of_Driver'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfvehicles['Age_of_Driver'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

177742
10.833276447183648

In [66]:
# Step 1: Calculate the median of 'Age_of_Vehicle', excluding -1
median_age_of_vehicle = dfvehicles[dfvehicles['Age_of_Driver'] != -1]['Age_of_Driver'].median()

# Step 2: Replace -1 with the calculated median
dfvehicles['Age_of_Driver'] = dfvehicles['Age_of_Driver'].replace(-1, median_age_of_vehicle)

In [67]:
value_counts = dfvehicles['Age_of_Vehicle'].value_counts()
count_minus_one = value_counts.get(-1, 0)  
total_count = dfvehicles['Age_of_Vehicle'].count()
percentage_minus_one = (count_minus_one / total_count) * 100 if total_count > 0 else 0
print(count_minus_one)
print(percentage_minus_one)

440769
26.86462640427524

In [69]:
# Step 1: Calculate the median of 'Age_of_Vehicle', excluding -1
median_age_of_vehicle = dfvehicles[dfvehicles['Age_of_Vehicle'] != -1]['Age_of_Vehicle'].median()

# Step 2: Replace -1 with the calculated median
dfvehicles['Age_of_Vehicle'] = dfvehicles['Age_of_Vehicle'].replace(-1, median_age_of_vehicle)

In [70]:
dfvehicles

,Accident_Index,Vehicle_Type,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_of_Vehicle
1360865,200901BS70001,2,1,15,1,77,26
1360866,200901BS70001,9,1,15,1,31,2
1360867,200901BS70002,19,1,1,1,40,3
1360868,200901BS70002,11,1,1,1,38,1
1360869,200901BS70003,3,1,15,1,40,2
...,...,...,...,...,...,...,...
3004420,2014984138414,9,1,2,1,27,12
3004421,2014984138414,19,1,2,1,44,4
3004422,2014984138414,9,1,6,1,73,7
3004423,2014984139614,11,1,1,1,40,4
3004424,2014984139614,9,1,6,1,79,11

In [71]:
dfvehicles['Accident_Index'].unique().shape

(898471,)

In [73]:
dfvehicles.to_csv('vehicles_cleaned_data.csv',index=False)

***
---
***

### Let's Visualize the Datasets for deeper insights